langchain>=0.0.300
faiss-cpu>=1.7.2
streamlit
pytesseract
pandas
numpy
requests
beautifulsoup4
boilerpy3
pillow
plotly
scikit-learn
python-dotenv
langchain-google-genai>=0.0.5
langchain-groq>=0.0.5
langchain-community>=0.0.1
gTTS==2.5.4
